{% extends "pages/partials/_base.njk" %}

{% block body %}
<img id="logo" src="../assets/logo.png" alt="The Outuni Project">
<p>It is our regret to announce we have made the decision to close TOP.</p>
<p>The leadership team would like to thank our FCs, web developers and our team's families many of whom made a lot of sacrifices for our community.</p>
<p>
   On behalf of our FC team we would like to thank the pilots who have flown with us, especially those of you who chose us as your first community and grew alongside us.
   <br>
   Many of you donated to the SRP fund, when we formed we were clear that we wanted to return those funds when TOP closed. Donations have now been returned.
</p>
<p>Thank you for joining us on our great journey &semi;&#41;</p>
<div class="srp-update">
   <hr>
   <ul>
      <li>45 donors were refunded 129,616,835,902 Isk</li>
      <li>62 pilots recieved a dividend payout totalling ~127b</li>
      <li>0 members of leadership walk away with a dividend payout</li>
   </ul>
</div>
{% endblock %}
